<div class="row">
<div class="form-container">
	<i class="fas fa-comment-open fa-2x"></i>
	<h2>Enter new comment</h2>
	<form action="/comment" method="POST" class="comment-form">
		<p class="input-field">
			<textarea name="comment[title]" cols="70" rows="2" placeholder="Title"></textarea>
		</p>
		<p class="input-field">
			<textarea name="comment[author]" cols="70" rows="2" placeholder="Author"></textarea>
		</p>
		<p class="input-field">   
			<textarea name="comment[comment]" cols="70" rows="2" placeholder="Subtopic"></textarea>
		</p>
		<p class='input-field'>
			<input type="submit" value='Submit' class='btn'>
		</p>
	</form>
</div>
</div>