<div class="row">
<div class="form-container">
	<i class="fas fa-comment-open fa-2x"></i>
	<h2>Share | Review | Inspire</h2>
	<form action="/post" method="POST" class="post-form">
		<p class="input-field">
			<textarea name="post[title]" cols="70" rows="2" placeholder="Title"></textarea>
		</p>
		<p class="input-field">
			<textarea name="post[author]" cols="70" rows="2" placeholder="Author"></textarea>
		</p>
		<p class="input-field">   
			<textarea name="post[comment]" cols="70" rows="14" placeholder="Thoughts"></textarea>
		</p>
		<p class='input-field'>
			<input type="submit" value='Submit' class='btn'>
		</p>
	</form>
</div>
</div>