<div>
    
    <div class="hero-img"><h1>A book crawler for book lovers</h1></div>
    <footer>
        <div>content</div> 
        <div>content</div>  
        <div>content</div>  
    </footer>
</div>